@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-sky-500{
  text-decoration: underline;
  text-decoration-color: #4299e1;
}

.underline-blue-500{
  text-decoration: underline;
  text-decoration-color: #2b6cb0;
}
.underline-blue-600{
  text-decoration: underline;
  text-decoration-color: #2c5282;
}
.underline-blue-700{
  text-decoration: underline;
  text-decoration-color: #2a4365;
}
.underline-blue-800{
  text-decoration: underline;
  text-decoration-color: #1a365d;
}
.underline-blue-900{
  text-decoration: underline;
  text-decoration-color: #153e75;
}
.underline-blue-400{
  text-decoration: underline;
  text-decoration-color: #4299e1;
}